/Meilisearch4TelegramSearchCKJ/src/config/env.py
/Meilisearch4TelegramSearchCKJ/src/models/log_file.log
/Meilisearch4TelegramSearchCKJ/tests/log_file.log
/Meilisearch4TelegramSearchCKJ/src/models/user_bot_session.session
/Meilisearch4TelegramSearchCKJ/src/models/user_bot_session.session-journal
